<div class="card">
    <div class="card-header text-align-center">
        <i class="fa-regular fa-chess-knight"></i> - Cards
    </div>

    <div class="card-body">
        <p class="card-text marging-sm">
            Select one of the cards bellow, then click on vote 
        </p>

        <div class="cards-container">
            <ng-container *ngFor="let card of cardsList">
                    <button class="my-card" (click)="handleClickCard(card)" id="card-{{card.id}}">{{card.value}}</button>
            </ng-container>
        </div>

        <div class="button-container">
            <button type="button" (click)="handleVote()" class="btn btn-outline-tertiary">Vote User Story</button>
        </div>
    </div>

</div>