<body>
    <header>
        <nav></nav>
        
        <div class="myContainer">
            <div class="text">
                <h1>LET'S DO THIS</h1>
                <h2 style="padding-left: 10px;"> <b>What do you want do now?</b></h2>
            </div>
            <img src="../../../assets/img/people-planning.png" alt="image">
        </div>
        
    </header>
    <div class="wave">
        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #f6f5f7;"></path></svg></div>    
    </div>
    
</body>

