<div class="modal fade" (click)="showUs()" id="createUpdateUsModal"  data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="createUpdateUsModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{formAction}} User Story</h5>
                <a class="closeButton" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form [formGroup]="userStoryForm" (ngSubmit)="ngSubmit()" >
                <div class="modal-body">
                    <small class="font-weight-light">Please complete the bellow info in order to create your user story.</small>
                    
                    <div class="row">
                        <div class="col">
                            <input type="text" placeholder="Tag" value="" formControlName="tag">
                        </div>
                        <div class="col">
                            <input type="text" placeholder="Sprint"  formControlName="sprint"value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="name" placeholder="Name"  formControlName="name" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <textarea placeholder="Description" max="10" cols="50" formControlName="description" value=""></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" placeholder="Work Area" formControlName="workArea" value="">
                        </div>
                        <div class="col">
                            <input type="text" placeholder="Story Writter" formControlName="storyWritter" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="url" placeholder="File link" formControlName="fileLink" value="">
                        </div>
                    </div>
           
                </div>

                <div class="modal-footer">
                    <small class="form-text text-muted"></small>
                    <button class="primary-button" data-bs-dismiss="modal" [disabled]="!userStoryForm.valid" >Create</button>
                </div>

            </form>
        </div>
    </div>
</div>
