<div class="modal fade" id="joinPartyModal" tabindex="-1" role="dialog" aria-labelledby="joinPartyModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Join Party</h5>
                <a class="closeButton" data-bs-dismiss="modal" aria-label="Close" (click)="cleanModal()">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form [formGroup]="partyForm" (ngSubmit)="ngSubmit()">
                <div class="modal-body">
                    <small class="font-weight-light">Please provide the Party ID that you are trying to enter.</small>
                    
                        <div class="row">
                            <div class="col-8" style="margin: auto;">
                                <input type="text" id="party_id" formControlName="id" placeholder="Party Id">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <small class="form-text text-muted">You'll be redirected!</small>
                    <button class="primary-button" data-bs-dismiss="modal" [disabled]="!partyForm.valid">
                        Join
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>