<div class="modal fade" id="partyPlayerDetails" tabindex="-1" role="dialog" aria-labelledby="partyPlayerDetails"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Item Results</h5>
                <a class="closeButton" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            
            <div class="modal-body">
                <app-party-planning-details 
                    userType="player">
                </app-party-planning-details>
            </div>
        </div>
    </div>
</div>