<body>
    <div class="ps-container">

        <div class="main-grid">

            <div class="stories-list">
                <app-user-stories-list
                    [partyID]="partyID"
                    (selectedUserStory)="handleSelectedUS($event)">
                </app-user-stories-list>
            </div>
            

            <div class="actual-story">
                <app-actual-user-story
                    [selectedUS] ="selectedUS">
                </app-actual-user-story>
            </div>

            <div class="actions">

                <app-quick-actions
                    [selectedUS] ="selectedUS">
                </app-quick-actions>
            </div>

            <div class="players">
                <app-list-players
                    [partyID]="partyID">
                </app-list-players>

            </div>
        </div>
    </div>
</body>