<body>
    <div class="ps-container">

        <div class="main-grid">

            <div class="stories-list">
                <app-party-user-stories-list
                    [partyID]= "partyID"
                    [addedUserStory] = "addedUS"
                    [deletedUserStoryId] = "deletedUserStoryId"
                    (selectedUserStory)= "handleSelectedUS($event)" 
                    (resetSelectedUserStory)= "handleResetUS()">
                </app-party-user-stories-list>
            </div>
            
            <div class="actual-story">
                <app-party-actual-user-story
                    [selectedUS] ="selectedUS">
                </app-party-actual-user-story>
            </div>

            <div class="actions">
                <app-party-quick-actions
                    [selectedUS] ="selectedUS"
                    (updatingUserStory) = "handleUpdatingUS()">
                </app-party-quick-actions>
            </div>

            <div class="players">
                <app-party-list-players
                    [partyID]= "partyID">
                </app-party-list-players>
            </div>
        </div>
    </div>
</body>

<app-party-add-edit-us-modal
    [partyID]="partyID"
    [selectedUS]= "selectedUS"
    (addedUserStory)="handleAddedUs($event)"
    (updatedUserStory) = "handleUpdatedUS()">
</app-party-add-edit-us-modal>

<app-party-delete-us-conf 
    [userStory] = "selectedUS"
    (confirmation)="handleDeletedUS($event)">
</app-party-delete-us-conf>
