<body>
    <div class="ps-container">

        <div class="main-grid">

            <div class="stories-list">
                <app-party-user-stories-list
                    [partyID]= "partyID"
                    (selectedUserStory)= "handleSelectedUS($event)" 
                    (resetSelectedUserStory)= "handleResetUS()"
                    (updatingUserStory) = "handleUpdatingUS($event)"
                    (deletingUserStory) = "handleDeletingUS($event)">
                </app-party-user-stories-list>
            </div>
            
            <div class="actual-story">
                <app-party-actual-user-story
                    [selectedUS] = "selectedUS"
                    messageType = "owner" >
                </app-party-actual-user-story>
            </div>

            <div class="timer">
                <app-party-countdown-timer
                    userType="owner">
                </app-party-countdown-timer>
            </div>

            <div class="actions">
                <app-party-quick-actions
                    [partyID]= "partyID"
                    [selectedUS] ="selectedUS"
                    (planningStarted) = "handlePlanningStarted($event)"
                    (planningFinished) = "handlePlanningFinished($event)">
                </app-party-quick-actions>
            </div>

            <div class="players">
                <app-party-list-players
                    [partyID] = "partyID"
                    [selectedUS] = "selectedUS">
                </app-party-list-players>
            </div>
        </div>
    </div>
</body>

<app-party-add-edit-us-modal
    [partyID] = "partyID"
    (addedUserStory) = "handleAddedUs($event)"
    (updatedUserStory) = "beforeUpdatedAction()">
</app-party-add-edit-us-modal>

<app-party-delete-us-conf 
    [userStory] = "userStoryToDelete"
    (confirmation) = "beforeDeleteConfimation($event)">
</app-party-delete-us-conf>
