<div class="card">
    <div class="card-header text-align-center">
        <i class="fa-solid fa-circle-info"></i> - Planning Details
    </div>

    <ng-template *ngIf="planningResults != undefined; then dataDetails else waitingMessage"></ng-template>
    
    <ng-template #waitingMessage>
        <div class="card-body p-0">
            <div class="waiting-body text-muted">
                <p>Waiting planning end</p>
            </div>
        </div>
    </ng-template>

    <ng-template #dataDetails>
        <div class="card-body">
        
            <div [ngClass]="isOwner ? 'owner-details-grid' : 'player-details-grid'">
                <div class="p-1">
                    <form class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" value={{highVotationInfo}} readonly>
                        <label for="floatingInput">Highest Votation</label>
                    </form>
                </div>
        
                <div class="p-1">
                    <form class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" value={{lowVotationInfo}} readonly>
                        <label for="floatingInput">Lowest Votation</label>
                    </form>
                </div>
        
                <div class="p-1">
                    <form class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" value={{votationsReceived}} readonly>
                        <label for="floatingInput">Votations received</label>
                    </form>
                </div>
        
                <div class="p-1">
                    <form class="form-floating">
                        <input type="text" class="form-control result" id="floatingInput" value={{votationsLeft}} readonly>
                        <label for="floatingInput">Votations left</label>
                    </form>
                </div>
        
                <div class="p-1 all-line details-actions">
                    <form class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" value={{storyPointsResult}} readonly>
                        <label for="floatingInput">Planning Result</label>
                    </form>
                </div>
        
                <div *ngIf="isOwner" class="all-line details-actions">
                    <div class="button-container">
                        <button type="button" class="btn btn-outline-primary">Restart Planning</button>
                    </div>
                </div>
        
            </div>
        </div>
    </ng-template>
    
</div>
