<div class="card">

    <div class="card-header text-align-center">
        <i class="fa-solid fa-circle-info"></i> - Planning Details
    </div>

    <div class="card-body">
        <div class="details-grid">
            <div>
                <form class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" value="Lautaro Fullone: 5SP">
                    <label for="floatingInput">Highest Votation</label>
                </form>
            </div>

            <div>
                <form class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" value="Valentina: 1SP">
                    <label for="floatingInput">Lowest Votation</label>
                </form>
            </div>

            <div>
                <form class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" value="Valentina: 1SP">
                    <label for="floatingInput">Votations received</label>
                </form>
            </div>

            <div>
                <form class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" value="Valentina: 1SP">
                    <label for="floatingInput">Votations left</label>
                </form>
            </div>

        </div>
    </div>
</div>
