<div class="card">

    <div class="card-header text-align-center">
        <i class="fa-solid fa-users"></i> - Players Status
    </div>

    <div class="card-body y-scroll">
        <ol>
            <div class="players-grid">

                <div class="grid-title">NAME</div>
                <div class="grid-title">HAS VOTED</div>
                <div class="grid-title">STORY POINTS</div>

                <ng-container *ngFor="let socket of socketsList">
                
                    <li>
                        <div class="player-name">
                            {{socket.user.name}} <br>
                            <p class="text-muted">{{socket.user.email}}</p>
                        </div>
                    </li>

                    <div *ngIf="socket.isOwner; then isAdmin else isPlayer"></div>

                    <ng-template #isAdmin>
                        <div class="player-status">
                            <i style="font-size: 20px;" class="fa-solid fa-circle-user"></i> Admin
                        </div>

                        <div class="story-points"> - </div>
                    </ng-template>

                    <ng-template #isPlayer>

                        <ng-template *ngIf="userHasVotedUS(socket); then check else uncheck"></ng-template>

                        <ng-template #check>
                            <div class="player-status completed-color" id="player-{{socket.user.id}}">
                                <i class="fa-solid fa-check"></i>
                            </div>

                            <div class="story-points">{{userVotationUS(socket)}}</div>
                        </ng-template>

                        <ng-template #uncheck>
                            <div class="player-status incompleted-color" id="player-{{socket.user.id}}">
                                <i class="fa-solid fa-xmark"></i>
                            </div>

                            <div class="story-points"> - </div>
                        </ng-template>
                    </ng-template>

                </ng-container>

            </div>
        </ol>
    </div>
</div>