<div class="card">
    <div class="card-header text-align-center">
        <i class="fa-solid fa-users"></i> - Planning Player
    </div>
    <div class="card-body y-scroll">
        <ol>
            <div class="players-grid" *ngFor="let socket of socketsList">

                <li>
                    <div class="player-name">
                        {{socket.user.name}} <br>
                        <p class="text-muted">{{socket.user.email}}</p>
                    </div>
                </li>

                <ng-container *ngIf="socket.isOwner">
                    <div class="player-status" >
                        <i style="font-size: 20px;" class="fa-solid fa-circle-user"></i> Admin
                    </div>
                </ng-container>
                
                <ng-container *ngIf="showIcons && !socket.isOwner">

                    <div *ngIf="socket.hasVote; then check else uncheck"></div>

                    <ng-template #check>
                        <div class="player-status completed-color" id="player-{{socket.user.id}}">
                            <i class="fa-solid fa-check"></i> (has voted)
                        </div>
                    </ng-template>

                    <ng-template #uncheck>
                        <div class="player-status incompleted-color" id="player-{{socket.user.id}}">
                            <i class="fa-solid fa-xmark"></i> (hasn't voted)
                        </div>
                    </ng-template>

                </ng-container>

            </div>
        </ol>
    </div>
</div>