ol{
    margin-bottom: unset;
}

div.player-status {
    justify-self: center;
}
div.story-points {
    justify-self: center;
}
div.grid-title {
    font-weight: bolder;
    justify-self: center;
    text-align: center;
}

.completed-color {
    color: #F27121;
}

.incompleted-color {
    color: #8A2387;
}