<header>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link logo"><b>PLANNING-STARS</b></a>

    <ng-template [ngIf]="showOptions">
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" data-bs-toggle="modal" data-bs-target="#joinPartyModal">Join Party</a></li>
                <li><a class="nav-link" data-bs-toggle="modal" data-bs-target="#createPartyModal">Create Party</a></li>
            </ul>
        </nav>
    </ng-template>

    <button class="primary-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Options </button>
    <ul class="dropdown-menu">

        <li><a class="dropdown-item disabled">Hello {{username}}!</a></li>

        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#renameUserModal">Rename Account</a></li>

        <li><a class="dropdown-item">My parties</a></li>

        <li *ngIf="showLeaveButton"><a class="dropdown-item" [routerLink]="['/dashboard']">Leave Party</a></li>

        <hr class="dropdown-divider">
        
        <li class="dropdown-item logout-container" (click)="logout()">
            <a class="">Logout</a>
            <i class="fa-solid fa-arrow-right-from-bracket logoutIcon"></i>
        </li>

    </ul>

</header>

<app-party-join-modal></app-party-join-modal>
<app-party-create-modal></app-party-create-modal>
<app-user-rename-modal
    (updatedUserName) = "handleUserRename($event)">
</app-user-rename-modal>