<body>
    <div class="ps-container">

        <div class="main-grid">

            <div class="timer">
                <app-party-player-timer>
                    
                </app-party-player-timer>
            </div>

            <div class="ps-cards">
                <app-party-player-cards
                    [selectedUS]="actualUserStory">
                </app-party-player-cards>
            </div>

            <div class="user-story">
                <app-party-actual-user-story 
                    [selectedUS]="actualUserStory"
                    messageType = "player" >
                </app-party-actual-user-story>
            </div>
        </div>
    </div>
</body>