<body>
    <div class="ps-container">

        <div class="main-grid">

            <div class="timer">
                <app-party-countdown-timer
                    userType="player">
                </app-party-countdown-timer>               
            </div>

            <div class="ps-cards">
                <app-party-player-cards
                    [selectedUS] = "actualUserStory">
                </app-party-player-cards>
            </div>

            <div class="user-story">
                <app-party-actual-user-story 
                    [selectedUS] = "actualUserStory"
                    messageType = "player" >
                </app-party-actual-user-story>
            </div>
        </div>
    </div>

    <button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#partyPlayerDetails">See results</button> 
</body>

<app-party-player-details-modal>
</app-party-player-details-modal>