<div class="card">
    <div class="card-header text-align-center">
        <i class="fa-regular fa-file-lines"></i> - Actual User Story
    </div>

    <ng-template *ngIf="selectedUS; then thenBlock else elseBlock"></ng-template>

    <ng-template #thenBlock>
        <div class="card-body">

            <div class="title-box">
                <h5 class="card-title text-align-center"> 
                    <a href="{{selectedUS.fileLink}}" class="link">User Story #{{selectedUS.tag}}: </a>
                    {{selectedUS.name}}
                </h5>
            </div>
            
            <div class="text-container">
                <p class="card-text">
                    {{selectedUS.description}}
                </p>
            </div>

            <hr><br>

            <div class="details-container">
                <ul>
                    <li>
                        <b>Story Writter:</b> {{selectedUS.storyWritter}}
                    </li>
                    <li>
                        <b>Work Area:</b> {{selectedUS.workArea}}
                    </li>
                    <li>
                        <b>Sprint:</b> {{selectedUS.sprint}}
                    </li>

                    <li class="item-link">
                        <b>Item Link: </b>
                        <a class='link item-link'
                            href="https://{{selectedUS.fileLink}}">
                            {{selectedUS.fileLink}}
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <div class="card-body p-0">
            <div class="waiting-body text-muted">
                Please select and item from the list...
            </div>
        </div>
    </ng-template>
</div>