
<div class="card">
    <div class="card-header text-align-center">
        <i class="fa-solid fa-file-lines"></i> - Actual User Story
    </div>

    <ng-template *ngIf="selectedUS; then isUsSelected else notUsSelected"></ng-template>

    <ng-template #notUsSelected>
        <div class="card-body p-0">
            <div class="waiting-body text-muted">
                {{waitingMessage}}
            </div>
        </div>
    </ng-template>

    <ng-template #isUsSelected>
        <div class="card-body">
            <div class="actual-us-grid">

                <div class="actual-title">   
                    <h5>
                        <a href="{{selectedUS.fileLink}}" class="link">User Story #{{selectedUS.tag}}: </a>
                        {{selectedUS.name}}
                    </h5>
                </div>

                <div class="actual-body">
                    {{selectedUS.description}}         
                </div>

                <div class="actual-footer">
                    <hr>

                    <div class="footer-grid">
                        <div>
                            <b>Story Writter: </b> {{selectedUS.storyWritter}}
                        </div>
                        <div>
                            <b>Sprint:</b> {{selectedUS.sprint}}
                        </div>
                        <div>
                            <b>Work Area: </b> {{selectedUS.workArea}}
                        </div>
                        <div>
                            <b>Item Link: </b> <a class='link item-link' href="{{selectedUS.fileLink}}">CLICK HERE</a>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </ng-template>
</div>
