div.list-container {
    overflow: auto;
    max-height: 80%;
}

li.list-group-item {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    border: 0px;
}

li.list-group-item:hover {
    background-color: #f27121af; 
    color: #FFF;
    cursor: pointer;
    margin: 0;
}

li.list-group-item.active {
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    border: 1px red;
    font-weight: 100;
}

li.list-group-item.clicked {
    font-weight: bolder;
}

li.list-group-item.disabled {
    background-color: unset;
    color: gray;
    text-decoration: line-through;
    font-style: italic;
    pointer-events: unset;
}
.item-grid {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    padding-right: 16px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.item-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.fa-trash {
    color: #f10b0b;
    cursor: pointer;
}

.fa-pen-to-square{
    color: #F27121;
    cursor: pointer;
}

button.large {
    width: 40%;
}

.list-container::-webkit-scrollbar {
    width: 8px; 
}

.list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .125);
}

.story-points {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #8A2387;
    font-style: italic;
}