<div class="card">
    <div class="card-header text-align-center">
        <i class="fa-solid fa-list-check"></i> - User Stories List
    </div>
    <div class="card-body" style="overflow: hidden;">
        <p class="card-text marging-sm">
            Here you can see the execution list of the items who are going to be estimated
        </p>

        <div class="list-container">

            <ng-container *ngIf="userStoriesList && userStoriesList.length == 0">
                There is no elements to display, please add some of them.
            </ng-container>

            <ul class="list-group" *ngFor="let us of userStoriesList">

                <li class="list-group-item" [ngClass]="{'disabled': us.storyPoints}" (click)="handleClickItem(us)" id="us-{{us.id}}">
                    User Story #{{us.tag}}: {{us.name}}
                </li>
            </ul>
        </div>
        
    </div>
    <div class="card-footer text-align-center">
        <button type="button" class="btn btn-outline-secondary" (click)="resetSelectedUS()" data-bs-toggle="modal" data-bs-target="#createUpdateUsModal">
            Add Item
        </button>
    </div>
</div>