<div class="card">
    
    <div class="card-header text-align-center">
        <i class="fa-solid fa-screwdriver-wrench"></i> - Actions
    </div>

    <ng-template *ngIf="selectedUS; then isSelected else isNotSelected"></ng-template>

    <ng-template #isSelected>

        <ng-template *ngIf="usWithStoryPoints; then hasStoryPoint else hasNotStoryPoints"></ng-template>
        
        <ng-template #hasStoryPoint>
            <div class="card-body p-0">
                <div class="waiting-body text-muted">
                    This item already has story points
                </div>
            </div>
        </ng-template>

        <ng-template #hasNotStoryPoints>>
            <div class="card-body">
                <div class="actions-grid">

                    <div class="start-section">
                        <button type="button" [disabled]="!showButtons || votingUS" class="btn btn-outline-primary" (click)="startPlanning()">Start Planning</button>
                    </div>
                    
                    <div class="end-section" >
                        <button type="button" [disabled]="!(votingUS && (votingUS.id == selectedUS.id))" class="btn btn-outline-secondary" (click)="finishPlanning()">Conclude Planning</button>
                    </div>

                </div>
            </div>
        </ng-template>
    </ng-template>

    <ng-template #isNotSelected>
        <div class="card-body p-0">
            <div class="waiting-body text-muted">
                Please select a item from the list
            </div>
        </div>
    </ng-template>

</div>